<!-- see https://developer.mozilla.org/ja/docs/Learn/CSS/CSS_layout -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <link rel="stylesheet" href="layout.css">
</head>

<body>
    <div class="link">
        <a href="./responsive/responsive.html" target="_blank">responsive.html</a>
        <a href="./flexbox/flexbox.html" target="_blank">flexbox.html</a>
        <a href="./grid/grid.html" target="_blank">grid.html</a>
    </div>
    <section class="dummy">
        <div class="container">
            <header>Header</header>
            <main>Main</main>
            <aside>Aside</aside>
            <footer>Footer</footer>
        </div>
    </section>
    <section class="flex_sample">
        <div class="wrapper">
            <div class="box1">One</div>
            <div class="box2">Two</div>
            <div class="box3">Three</div>
            <div class="ss">
                <div class="gh">
                    gahaha
                </div>
                <div class="gh">
                    nahaha
                </div>
            </div>
        </div>
    </section>
    <section class="box_sample">
        <div class="wrapper">
            <div class="box1">One</div>
            <div class="box2">Two</div>
            <div class="box3">Three</div>
            <div class="box4">Four</div>
            <div class="box5">Five</div>
            <div class="box6">Six</div>
        </div>
    </section>

    <section class="flot_sample">
        <div class="wrapper">
            <div class="box">Float</div>

            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla luctus aliquam dolor, eu lacinia lorem
                placerat vulputate. Duis felis orci, pulvinar id metus ut, rutrum luctus orci. Cras porttitor imperdiet
                nunc, at ultricies tellus laoreet sit amet. Sed auctor cursus massa at porta. Integer ligula ipsum,
                tristique sit amet orci vel, viverra egestas ligula. Curabitur vehicula tellus neque, ac ornare ex
                malesuada
                et. In vitae convallis lacus. Aliquam erat volutpat. Suspendisse ac imperdiet turpis. Aenean finibus
                sollicitudin eros pharetra congue. Duis ornare egestas augue ut luctus. Proin blandit quam nec lacus
                varius
                commodo et a urna. Ut id ornare felis, eget fermentum sapien.</p>
        </div>
    </section>
    <section class="positioning">
        <div class="wrapper">
            <h1>Positioning</h1>
            <p>I am a basic block level element.</p>
            <p class="positioned">I am a basic block level element(class: positioned)</p>
            <p>I am a basic block level element.</p>
        </div>
    </section>

    <section class="multiple_column">
        <div class="wrapper">
            <div class="container">
                <h1>Mult</h1>
                <p>Paragraph
                    da
                </p>
                <p>Paragraph 2.</p>
                <h1>test</h1>
                <h1>test2</h1>
                <h1>a</h1>

            </div>
        </div>
    </section>
    <section class="flexbox">
        <div class="wrapper">

        </div>
    </section>
    <section class="float">
        <div class="wrapper">
            <h1>Simple float example</h1>

            <div class="box">Float</div>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla luctus aliquam dolor, eu lacinia lorem
                placerat vulputate. Duis felis orci, pulvinar id metus ut, rutrum luctus orci. Cras porttitor imperdiet
                nunc, at ultricies tellus laoreet sit amet. </p>

            <p>Sed auctor cursus massa at porta. Integer ligula ipsum, tristique sit amet orci vel, viverra egestas
                ligula.
                Curabitur vehicula tellus neque, ac ornare ex malesuada et. In vitae convallis lacus. Aliquam erat
                volutpat.
                Suspendisse ac imperdiet turpis. Aenean finibus sollicitudin eros pharetra congue. Duis ornare egestas
                augue
                ut luctus. Proin blandit quam nec lacus varius commodo et a urna. Ut id ornare felis, eget fermentum
                sapien.
            </p>

            <p>Nam vulputate diam nec tempor bibendum. Donec luctus augue eget malesuada ultrices. Phasellus turpis est,
                posuere sit amet dapibus ut, facilisis sed est. Nam id risus quis ante semper consectetur eget aliquam
                lorem. Vivamus tristique elit dolor, sed pretium metus suscipit vel. Mauris ultricies lectus sed
                lobortis
                finibus. Vivamus eu urna eget velit cursus viverra quis vestibulum sem. Aliquam tincidunt eget purus in
                interdum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
        </div>
    </section>
    <section class="margin_auto">
        <div class="wrapper">
            <div class="block">ss</div>
        </div>
        <p>test</p>
    </section>
    <script src="layout.js"></script>
</body>


</html>